.heading
{
width: 100%;
text-align: left;
}
.heading h3
{
display: inline;    }
.heading button
{
float: right;       
font-size: 20px;
border: 1px solid whitesmoke; 
}
.big_img
{
 width: 100%;   
}
#start,#status
{
 font-size: 22px;   
}
.Instructions
{
 display:  inline-block;  
 width: 45%; 
}
h4
{
   background-color: aliceblue; 
   margin: 0px;
   line-height: 2;
}
video
{
background: url("game_console.png"); 
background-size: cover;
background-position: center; 
padding: 25px; 
}
